# Django Settings
SECRET_KEY=django-insecure-2mgn@%*aqf@ge=pfgkdcgbk+1sm!a3u-18m$*(5ig_(=3d9gf-
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174

# Cloudinary Configuration
# Get these from: https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=dtbkompng
CLOUDINARY_API_KEY=248122589596546
CLOUDINARY_API_SECRET=WTtX3k4hdI1tY-_PCMYbt7pI9lw
